body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1042px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:751px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  position:absolute;
  left:31px;
  top:33px;
  width:1011px;
  height:751px;
}
#u248 {
  position:absolute;
  left:2px;
  top:368px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:570px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u249 {
  position:absolute;
  left:83px;
  top:180px;
  width:300px;
  height:570px;
}
#u250 {
  position:absolute;
  left:2px;
  top:277px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:473px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  position:absolute;
  left:101px;
  top:225px;
  width:267px;
  height:473px;
}
#u252 {
  position:absolute;
  left:2px;
  top:228px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:104px;
  top:199px;
  width:261px;
  height:5px;
}
#u254 {
  position:absolute;
  left:2px;
  top:-6px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u255 {
  position:absolute;
  left:212px;
  top:704px;
  width:45px;
  height:45px;
}
#u256 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:477px;
}
#u257 {
  position:absolute;
  left:101px;
  top:225px;
  width:267px;
  height:477px;
}
#u258 {
  position:absolute;
  left:2px;
  top:230px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:423px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:101px;
  top:279px;
  width:267px;
  height:423px;
}
#u260 {
  position:absolute;
  left:2px;
  top:204px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:101px;
  top:245px;
  width:267px;
  height:36px;
}
#u262 {
  position:absolute;
  left:2px;
  top:10px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  position:absolute;
  left:191px;
  top:254px;
  width:87px;
  height:18px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u265 {
  position:absolute;
  left:331px;
  top:255px;
  width:17px;
  height:17px;
}
#u266 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u267 {
  position:absolute;
  left:186px;
  top:508px;
  width:97px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:86px;
}
#u270 {
  position:absolute;
  left:192px;
  top:390px;
  width:87px;
  height:86px;
}
#u271 {
  position:absolute;
  left:2px;
  top:35px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u272 {
  position:absolute;
  left:240px;
  top:434px;
  width:50px;
  height:50px;
}
#u273 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u274 {
  position:absolute;
  left:205px;
  top:407px;
  width:60px;
  height:52px;
}
#u275 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u276 {
  position:absolute;
  left:188px;
  top:333px;
  width:93px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u278 {
  position:absolute;
  left:127px;
  top:255px;
  width:12px;
  height:17px;
}
#u279 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  position:absolute;
  left:102px;
  top:655px;
  width:264px;
  height:46px;
}
#u281 {
  position:absolute;
  left:2px;
  top:15px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u282 {
  position:absolute;
  left:131px;
  top:663px;
  width:24px;
  height:20px;
}
#u283 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u284 {
  position:absolute;
  left:319px;
  top:663px;
  width:17px;
  height:19px;
}
#u285 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u286 {
  position:absolute;
  left:224px;
  top:665px;
  width:21px;
  height:16px;
}
#u287 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u288 {
  position:absolute;
  left:322px;
  top:685px;
  width:11px;
  height:13px;
  font-size:10px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u290 {
  position:absolute;
  left:131px;
  top:684px;
  width:32px;
  height:13px;
  font-size:10px;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u292 {
  position:absolute;
  left:223px;
  top:685px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
}
#u294 {
  position:absolute;
  left:219px;
  top:583px;
  width:32px;
  height:37px;
}
#u295 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:421px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  position:absolute;
  left:101px;
  top:281px;
  width:267px;
  height:421px;
  opacity:0.8;
}
#u297 {
  position:absolute;
  left:2px;
  top:202px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  position:absolute;
  left:119px;
  top:355px;
  width:231px;
  height:191px;
}
#u300 {
  position:absolute;
  left:2px;
  top:88px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u301 {
  position:absolute;
  left:119px;
  top:394px;
  width:231px;
  height:1px;
}
#u302 {
  position:absolute;
  left:2px;
  top:-8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u303 {
  position:absolute;
  left:205px;
  top:366px;
  width:59px;
  height:18px;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u305 {
  position:absolute;
  left:119px;
  top:510px;
  width:231px;
  height:1px;
}
#u306 {
  position:absolute;
  left:2px;
  top:-8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:37px;
}
#u307 {
  position:absolute;
  left:234px;
  top:510px;
  width:1px;
  height:36px;
}
#u308 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u309 {
  position:absolute;
  left:157px;
  top:519px;
  width:30px;
  height:18px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u311 {
  position:absolute;
  left:280px;
  top:519px;
  width:30px;
  height:18px;
  color:#00CC00;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u313 {
  position:absolute;
  left:150px;
  top:452px;
  width:181px;
  height:14px;
  font-size:12px;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u315 {
  position:absolute;
  left:214px;
  top:399px;
  width:41px;
  height:41px;
}
#u316 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u317 {
  position:absolute;
  left:220px;
  top:403px;
  width:29px;
  height:33px;
  font-size:28px;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u319 {
  position:absolute;
  left:172px;
  top:475px;
  width:125px;
  height:27px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:570px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u321 {
  position:absolute;
  left:684px;
  top:180px;
  width:300px;
  height:570px;
}
#u322 {
  position:absolute;
  left:2px;
  top:277px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:473px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u323 {
  position:absolute;
  left:702px;
  top:225px;
  width:267px;
  height:473px;
}
#u324 {
  position:absolute;
  left:2px;
  top:228px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  position:absolute;
  left:705px;
  top:199px;
  width:261px;
  height:5px;
}
#u326 {
  position:absolute;
  left:2px;
  top:-6px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u327 {
  position:absolute;
  left:813px;
  top:703px;
  width:45px;
  height:45px;
}
#u328 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:477px;
}
#u329 {
  position:absolute;
  left:702px;
  top:225px;
  width:267px;
  height:477px;
}
#u330 {
  position:absolute;
  left:2px;
  top:230px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:423px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u331 {
  position:absolute;
  left:702px;
  top:279px;
  width:267px;
  height:423px;
}
#u332 {
  position:absolute;
  left:2px;
  top:204px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u333 {
  position:absolute;
  left:702px;
  top:245px;
  width:267px;
  height:36px;
}
#u334 {
  position:absolute;
  left:2px;
  top:10px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u335 {
  position:absolute;
  left:792px;
  top:254px;
  width:87px;
  height:18px;
}
#u336 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u337 {
  position:absolute;
  left:932px;
  top:255px;
  width:17px;
  height:17px;
}
#u338 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u339 {
  position:absolute;
  left:787px;
  top:508px;
  width:97px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u340 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:86px;
}
#u342 {
  position:absolute;
  left:793px;
  top:390px;
  width:87px;
  height:86px;
}
#u343 {
  position:absolute;
  left:2px;
  top:35px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u344 {
  position:absolute;
  left:841px;
  top:434px;
  width:50px;
  height:50px;
}
#u345 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u346 {
  position:absolute;
  left:806px;
  top:407px;
  width:60px;
  height:52px;
}
#u347 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u348 {
  position:absolute;
  left:789px;
  top:333px;
  width:93px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u349 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u350 {
  position:absolute;
  left:728px;
  top:255px;
  width:12px;
  height:17px;
}
#u351 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  position:absolute;
  left:703px;
  top:655px;
  width:266px;
  height:46px;
}
#u353 {
  position:absolute;
  left:2px;
  top:15px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u354 {
  position:absolute;
  left:732px;
  top:663px;
  width:24px;
  height:20px;
}
#u355 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u356 {
  position:absolute;
  left:920px;
  top:663px;
  width:17px;
  height:19px;
}
#u357 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u358 {
  position:absolute;
  left:825px;
  top:665px;
  width:21px;
  height:16px;
}
#u359 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u360 {
  position:absolute;
  left:923px;
  top:685px;
  width:11px;
  height:13px;
  font-size:10px;
}
#u361 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u362 {
  position:absolute;
  left:732px;
  top:684px;
  width:32px;
  height:13px;
  font-size:10px;
}
#u363 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u364 {
  position:absolute;
  left:824px;
  top:685px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u365 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
}
#u366 {
  position:absolute;
  left:820px;
  top:583px;
  width:32px;
  height:37px;
}
#u367 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u368 {
  position:absolute;
  left:512px;
  top:519px;
  width:43px;
  height:50px;
}
#u369 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u370 {
  position:absolute;
  left:310px;
  top:527px;
  width:374px;
  height:1px;
}
#u371 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u372 {
  position:absolute;
  left:525px;
  top:579px;
  width:30px;
  height:18px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:203px;
}
#u374 {
  position:absolute;
  left:399px;
  top:306px;
  width:269px;
  height:203px;
  font-size:20px;
}
#u375 {
  position:absolute;
  left:2px;
  top:66px;
  width:265px;
  word-wrap:break-word;
}
#u376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u376 {
  position:absolute;
  left:756px;
  top:133px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u377 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u378 {
  position:absolute;
  left:123px;
  top:133px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u379 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u380 {
  position:absolute;
  left:459px;
  top:33px;
  width:150px;
  height:150px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u381 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
